<% content_for :title, "New Category" %>

<div class="max-w-lg mx-auto py-10 px-4">
  <h1 class="text-3xl font-bold text-indigo-800 mb-8">New Category</h1>
  <%= render "form", category: @category %>
</div>
